<div class="site-wrapper">
  <!-- mobile header -->
	<div class="mobile-header py-2 px-3 mt-4">
		<button class="menu-icon mr-2">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<a href="index.html" class="logo"><img src="../../assets/images/logo.png" alt="SPRTN" /></a>
		<a href="index.html" class="site-title dot ml-2">{{Title}}</a>
  </div>

  <header class="left float-left shadow-dark" id="header">

    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="header-inner d-flex align-items-start flex-column">
      <a href="/"><img src="../../assets/images/logo.png" alt="SPRTN Tech" /></a>
      <a href="/" class="site-title dot mt-3" >{{Title}}</a>
      <span class="site-slogan">With You</span>

      <!-- navigation menu -->
      <nav>
        <ul class="vertical-menu scrollspy">
          <li><a href="#home" class="active"><i class="icon-home"></i>Home</a></li>
          <li><a href="#about"><i class="icon-user"></i>About</a></li>
          <li><a href="#services"><i class="icon-bulb"></i>Team</a></li>
          <li><a href="#resume"><i class="icon-graduation"></i>Origin</a></li>
          <li><a href="#works"><i class="icon-grid"></i>Portfolio</a></li>
          <li><a href="#contact"><i class="icon-phone"></i>Contact</a></li>
        </ul>
      </nav>

      <!-- footer -->
      <div class="footer mt-auto">
        <span class="copyright">© 2020 SPRTN Tech</span>
      </div>
    </div>
  </header>
</div>
