<div class="site-wrapper">
	<!-- main content area -->
	<main class="content float-right">
		<!-- section hero -->
    <section class="hero background parallax shadow-dark d-flex align-items-center" style="height: 550px;" id="home">
      <div class="white-bg" >

        <!-- LogIn -->
        <section id="Log in" class="padding">
            <h3 class="section-title">Log in</h3>
            <div class="spacer" data-height="80"></div>

            <div class="row">

              <div class="col-md-4 mb-4 mb-md-0">
                <!-- contact info -->
                <div class="contact-info mb-5">
                  <i class="icon-phone"></i>
                  <div class="details">
                    <h5>Phone</h5>
                    <span>+91 7276872665</span>
                  </div>
                </div>
              </div>

              <div class="col-md-8">
                <!-- Contact Form -->
                <form (submit)="onLogin(loginForm)"  #loginForm="ngForm" id="contact-form" class="contact-form" >
                  <div class="row">
                    <div class="column col-md-12">
                      <!-- Email input -->
                      <div class="form-group">
                        <input type="email" class="form-control" id="InputEmail" name="email"
                               placeholder="Email address" required="required" data-error="Email is required."
                               ngModel #emailInput="ngModel" required email>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="column col-md-12">
                      <!-- Password input -->
                      <div class="form-group">
                        <input type="text" class="form-control" id="InputPassword" name="password"
                               placeholder="Password" required="required" data-error="Password is required."
                               ngModel #passwordInput="ngModel" required>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-default"><i class="icon-paper-plane"></i>Log in</button><!-- Send Button -->
                </form>
                <!-- Contact Form end -->
              </div>

            </div>
        </section>

      </div>
    </section>
  </main>
</div>

